/*
body {
    background-color:whitesmoke;
}
*/

/* block gallery .blocks-gallery-grid */
.blog-single .singular-post .post-content li.blocks-gallery-item img {
    transition:250ms;
    min-height:100%;
    min-width:100%;
}

.blog-single .singular-post .post-content li.blocks-gallery-item::before {
    content:none;
}
.blog-single .singular-post .post-content li.blocks-gallery-item a:hover {
    border:0;
}
.blog-single .singular-post .post-content li.blocks-gallery-item a:hover img {
    opacity:.8;
}

/* overrride corrections slider featured */

.featured-post .post .post-info::before,
.featured-post .post .post-info::after {
    width:35%;
    max-width:35%; /* was all the width */
}

/* mobile slideshow image */
.featured-post .post .post-image {
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/* desktop slideshow image */

@media (min-width: 960px) {
    .featured-post {
        background-size: contain; /* avoid cutting the picture! */
        background-repeat: no-repeat;
    }
}

.featured-post .post {
    min-height: 500px; /* was 600 */
}

.invisible-cover-slide-link {
    z-index:3;
    margin:7%;
    background:rgba(255,255,255,0); /* invisible */
}

/* fix tables in responsive */
@media(max-width:960px) {
    .wp-block-table {
        display:block;
        max-width:100%;
        overflow:auto; /* scrollable -x table in mobile */
    }
    .wp-block-table table td {
        min-width: 100px; /* avoid break words inside columns cells */
    }
}

/* enable current color of gutenberg separator hr colors */

hr.wp-block-separator[class*="has"] {
    border-color: currentColor;
}

/* 
 fix li before dots bug when changing font-size
*/
.blog-single .singular-post .post-content li::before {
    position:absolute;
}
.blog-single .singular-post .post-content li > * + * {
    margin-top:0; /* avoid extra margins when multiline */
}
